[submodule "http-server-rust"]
	path = http-server-rust
	url = https://github.com/nelup20/codecrafters-http-server-rust
[submodule "shell-rust"]
	path = shell-rust
	url = https://github.com/nelup20/codecrafters-shell-rust
[submodule "grep-rust"]
	path = grep-rust
	url = https://github.com/nelup20/codecrafters-grep-rust
[submodule "interpreter-rust"]
	path = interpreter-rust
	url = https://github.com/nelup20/codecrafters-interpreter-rust
